body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.title {
  max-width: 55%;
  text-align: center;
  line-height: 25px;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 1rem;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 1rem;
}

p {
  color: gray;
}

.left {
  padding-left: 180px;
}

.right {
  padding-right: 180px;
}

.icon {
  padding: 10px;
  background-color: $i-bg;
  border-radius: 16px;
}

.fa-circle-xmark {
  color: red;
}

.fa-circle-check {
  color: green;
}

.card-icon {
  width: 15px;
  height: 15px;
  padding: 20px;
  border-radius: 50%;
}

.blue {
  background-color: #80aef7;
}

.orange {
  background-color: #f5c27b;
}

.green {
  background-color: #62f5d1;
}

.pink {
  background-color: #fa9d96;
}

// * {
//   outline: 1px solid red;
//   opacity: 1 !important;
//   visibility: visible !important;
// }

.socials {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.discord {
  background-color: #5865f2;
}

.twitter {
  background-color: #55acee;
}

.telegram {
  background-color: #37aee2;
}

.flex {
  display: flex;
  justify-content: space-between;
}
