body {
  font-family: "Gilroy";
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.title {
  max-width: 55%;
  text-align: center;
  line-height: 25px;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 1rem;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 1rem;
}

p {
  color: gray;
}

.left {
  padding-left: 180px;
}

.right {
  padding-right: 180px;
}

.icon {
  padding: 10px;
  background-color: $i-bg;
  border-radius: 16px;
}
