.chain {
  display: flex;
  padding: 5rem 0;

  &-container {
    @include center;
    gap: 120px;

    &-right {
      p {
        line-height: 28px;
      }

      &-top {
        button {
          @include btn;
          background-color: $secondary-color;
          color: white;
        }

        p {
          padding: 20px 0;
          max-width: 90%;
        }

        h2 {
          text-align: left;
          padding-top: 20px;
        }
      }

      &-bottom {
        display: flex;
        margin-top: 2rem;
        gap: 100px;

        h3 {
          padding: 20px 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .right {
    padding-right: 0;
  }

  .chain {
    padding: 0 24px;
  }

  .chain-container {
    flex-direction: column-reverse;
    gap: 70px;
  }

  .chain-container-left img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .chain-container-right-bottom {
    flex-direction: column;
    gap: 2rem;
  }

  .chain-container-right-top h2,
  .chain-container-right-top p,
  .chain-container-right-top {
    text-align: center;
    max-width: 100%;
  }
}
