.mission {
  margin-bottom: 12rem;
  @include center;
  position: relative;

  &-top {
    max-width: 35%;
    background-color: $i-bg;
    @include center;
    flex-direction: column;
    padding: 150px;
    text-align: left;
    line-height: 25px;
    z-index: 2;
    position: absolute;
    left: 0;
    margin-top: 6rem;
  }

  .story {
    max-width: 35%;
    padding: 110px 50px 50px 200px;
    line-height: 25px;
    background-color: $i-bg;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media only screen and (max-width: 1220px) {
  .mission-top {
    padding: 100px 50px 100px 100px;
  }

  .mission .story {
    padding: 110px 50px 20px 200px;
  }
}

@media only screen and (max-width: 1024px) {
  .mission-top {
    padding: 80px;
  }

  .mission .story {
    padding: 100px 50px 20px 150px;
  }
}

@media only screen and (max-width: 768px) {
  .mission {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .mission-top {
    max-width: 100%;
    position: static;
    padding: 80px 24px;
    margin-top: 4rem;
  }

  .mission .story {
    max-width: 100%;
    position: static;
    padding: 80px 24px;
  }
}

@media only screen and (max-width: 576px) {
}
