.road {
  padding: 3rem 0;
  @include column;
  margin: auto;
  align-items: center;
  gap: 40px;

  .map {
    color: $secondary-color;
    font-weight: 600;
  }

  &-container {
    display: flex;
    justify-content: center;
    gap: 20px;

    &-card {
      .card-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;

        div {
          width: 244px;
          padding: 20px;
          background-color: $i-bg;
          border-radius: 8px;
          display: flex;
          gap: 10px;
        }
      }

      &-top {
        display: flex;
        flex-direction: column;
        text-align: left;

        span {
          font-weight: 600;
          padding: 20px 0;
        }

        .card-icon-first {
          width: 20px;
          height: 20px;
          padding: 20px;
          background-color: #80aef7;
          border-radius: 50%;
        }

        .card-icon-second {
          width: 15px;
          height: 15px;
          padding: 20px;
          background-color: #f5c27b;
          border-radius: 50%;
        }

        .card-icon-third {
          width: 15px;
          height: 15px;
          padding: 20px;
          background-color: #62f5d1;
          border-radius: 50%;
        }

        .card-icon-fourth {
          width: 15px;
          height: 15px;
          padding: 20px;
          background-color: #fa9d96;
          border-radius: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .road-container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .road {
    width: 100%;
  }

  .road-container {
    justify-content: flex-start;
    width: 100%;
  }

  .road-container-card {
    width: 100%;
  }

  .card-box {
    width: 100%;
  }

  .road-container-card .card-box div {
    width: 100%;
  }
}
